<h1>index djs</h1>

<a href=""><%= link_to "create a new dj button", new_dj_path %></a>

<div class="cards">
<% @djs.each do |dj| %>
<%= link_to dj do %>
 <div class="card content">
    <div class="card-content">
      <div class="card-img">
        <img src="https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="keyboard">
      </div>
      <div class="card-label">
        <%= dj.genre %>
      </div>
      <div class="card-title">
        <%= dj.name %>
      </div>
    </div>
  </div>
<% end %>
<% end %>
</div>

  