<%= render 'shared/banner' %>

<div class="button-container">
<%= link_to "show all", djs_path, class: "btn btn-ghost" %>
<%= link_to "create a new dj", new_dj_path, class: "btn btn-ghost" %>
</div>

