// .card {
//   position: relative;
//   h2 {
//     position: absolute;
//     bottom: 0;
//     left: 4%;
//     text-transform: uppercase;
//   }
// }



// #card-align-center {
//   margin: 0 auto;
//   float: none;
// }

// .card-title {
//   font-size: 16px;
//   font-weight: 700;
// }

// .card-description {
//   font-size: 12px;
// }

// .card-btn-primary {
//   border-radius: 8px;
//   background-color: #7f5af0;
//   color: #fffffe;
//   align-items: center;
// }


.cards {
  width: calc(100% - 2em);
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    // grid-template-areas:
    //   "a a b c";
    width: 50%;
}

.card {
  border: none;
  width: 300px;
  height: 300px;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    height: 0;
    content: "";
    display: block;
    padding-bottom: 47.36%;
  }
  &.content {
    &:after {
      border: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      content: "";
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    }
  }
  &-content {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-label {
    position: absolute;
    top: .45rem;
    left: .45rem;
    background: #089f8a;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    color: white;
    padding: 0.5em;
  }
  &-title {
    text-transform: capitalize;
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: #d6dbeb;
    z-index: 5;
    font-size: 0.8em;
  }
  &.form {
    position: relative;
    &:before {
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
    }
    &:after {
      position: absolute;
      top: .5em;
      left: .5em;
      width: calc(100% - 1em);
      height: calc(100% - 1em);
      content: "";
      background: #252833;
    }
    .form-title {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 7vw;
      font-weight: 900;
      z-index: 5;
      text-transform: uppercase;
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        content: "Sign Up";
        opacity: 0.5;
        filter: blur(10px);
        transition: all .25s ease;
        z-index: 2;
        background: linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
  &:nth-child(2) {
    .card-label {
      background: #ef4e7b;
    }
  }
  &:nth-child(3) {
    .card-label {
      background: #1098ad;
    }
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    .form-title {
      &:before {
        filter: blur(3px);
        opacity: 0.7;
      }
    }
  }
}
