.card {
  border-radius: 8px;
  margin-top: 15px;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#card-align-center {
  margin: 0 auto;
  float: none;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.card-description {
  font-size: 12px;
}

.card-btn-primary {
  border-radius: 8px;
  background-color: #7f5af0;
  color: #fffffe;
  align-items: center;
}
